In [6]:
import pandas as pd
import wrds

In [7]:
conn = wrds.Connection(wrds_username='yjzhu')
conn.create_pgpass_file()

Loading library list...
Done
Enter your WRDS username [admin]:yjzhu
Enter your password:········

In [8]:
import numpy as np
from scipy.stats.mstats import winsorize
from scipy import stats
import statsmodels.formula.api as sm
import patsy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [9]:
#Sample Selection
funda = conn.raw_sql("""select exchg, gvkey, fyear,datadate, oiadp,ni, csho, at,act,che,lct,dlc,txp,dp,prcc_f,sich,dvt,lt,bkvlps,acqinvt,mkvalt    
                         from compa.funda 
                         where consol='C' and indfmt='INDL' and datafmt='STD' and popsrc='D' and  fyear<2020 and fyear>2016
                         """) 
company = conn.raw_sql("""select gvkey, sic,conml,spcsrc
                          from compa.company
                          """) 
funda1=pd.merge(funda,company,on=['gvkey'])
funda1['sic1']=np.where(funda1['sich']>0,funda1['sich'],funda1['sic'])
funda1=funda1.drop(['sich','sic'],axis=1)
funda1['sic1']=funda1['sic1'].astype(str)

In [10]:
funda1

,exchg,gvkey,fyear,datadate,oiadp,ni,csho,at,act,che,...,dp,prcc_f,dvt,lt,bkvlps,acqinvt,mkvalt,conml,spcsrc,sic1
0,11.0,001004,2017.0,2018-05-31,86.000,15.600,34.716,1524.700,942.700,41.600,...,40.500,44.6900,10.300,588.400,26.9703,NaN,1551.4580,AAR Corp,B,5080.0
1,11.0,001119,2017.0,2017-12-31,NaN,NaN,98.685,NaN,NaN,NaN,...,NaN,15.0300,NaN,NaN,NaN,NaN,NaN,Adams Diversified Equity Fund Inc,None,6726
2,11.0,001119,2018.0,2018-12-31,NaN,NaN,100.868,NaN,NaN,NaN,...,NaN,12.6200,NaN,NaN,NaN,NaN,NaN,Adams Diversified Equity Fund Inc,None,6726
3,14.0,001045,2017.0,2017-12-31,4792.000,1919.000,475.508,51396.000,9146.000,5384.000,...,2017.000,52.0300,198.000,47470.000,8.2564,NaN,24740.6812,American Airlines Group Inc,B-,4512.0
4,14.0,001045,2018.0,2018-12-31,3449.000,1412.000,460.611,60580.000,8637.000,4914.000,...,2157.000,32.1100,188.000,60749.000,-0.3669,NaN,14790.2192,American Airlines Group Inc,B-,4512.0
5,14.0,001050,2017.0,2017-12-31,11.977,-3.029,34.570,438.549,173.942,30.493,...,16.088,5.1300,7.792,251.980,5.3968,NaN,177.3441,CECO Environmental Corp.,C,3564.0
6,14.0,001050,2018.0,2018-12-31,14.062,-7.121,34.816,392.582,160.865,44.438,...,13.272,6.7500,0.000,214.022,5.1287,NaN,235.0080,CECO Environmental Corp.,C,3564.0
7,17.0,001352,2017.0,2017-12-31,NaN,NaN,4.875,NaN,NaN,NaN,...,NaN,17.9900,NaN,NaN,NaN,NaN,NaN,Arrow Dow Jones Global Yield ETF,None,6722
8,17.0,001352,2018.0,2018-12-31,NaN,NaN,3.750,NaN,NaN,NaN,...,NaN,15.0682,NaN,NaN,NaN,NaN,NaN,Arrow Dow Jones Global Yield ETF,None,6722
9,11.0,001062,2017.0,2017-11-30,-1.670,1.744,19.290,245.562,NaN,3.678,...,0.003,11.0526,0.772,1.360,12.6595,NaN,213.2047,ASA Gold and Precious Metals Ltd,None,6799.0
10,11.0,001062,2018.0,2018-11-30,-1.408,-48.789,19.290,196.072,NaN,3.449,...,0.000,8.6600,0.579,1.238,10.1003,NaN,167.0514,ASA Gold and Precious Metals Ltd,None,6799.0
11,11.0,001072,2017.0,2018-03-31,182.534,4.910,168.434,2672.766,1701.724,827.202,...,59.819,16.5500,75.728,429.323,13.3194,42.443,2787.5827,AVX Corp.,B-,3670.0
12,11.0,001072,2018.0,2019-03-31,314.079,271.813,168.826,2813.278,1783.727,835.379,...,90.031,17.3400,77.696,429.098,14.1221,NaN,2927.4428,AVX Corp.,B-,3670.0
13,11.0,001075,2017.0,2017-12-31,934.427,488.456,111.752,17019.082,1016.288,13.892,...,534.118,85.1800,301.492,11883.352,44.8018,NaN,9519.0354,Pinnacle West Capital Corp,A,4911.0
14,11.0,001075,2018.0,2018-12-31,773.687,511.047,112.102,17664.202,924.991,5.766,...,582.354,85.2000,320.927,12315.497,46.5907,NaN,9551.0904,Pinnacle West Capital Corp,A,4911.0
15,11.0,001076,2017.0,2017-12-31,275.534,292.536,70.019,2692.264,NaN,71.422,...,1531.203,39.8500,7.995,964.260,24.6791,NaN,2790.2572,Aaron's Inc,B+,7359.0
16,11.0,001076,2018.0,2018-12-31,290.087,196.210,67.184,2826.692,NaN,15.278,...,1822.054,42.0500,8.661,1065.984,26.2073,NaN,2825.0872,Aaron's Inc,B+,7359.0
17,11.0,001078,2017.0,2017-12-31,3996.000,477.000,1743.602,76250.000,20147.000,9610.000,...,3021.000,57.0700,1947.000,45152.000,17.7202,NaN,99507.3661,Abbott Laboratories,B,2834.0
18,11.0,001078,2018.0,2018-12-31,4284.000,2368.000,1755.619,67173.000,14632.000,4086.000,...,3278.000,72.3300,2047.000,36451.000,17.3865,NaN,126983.9223,Abbott Laboratories,B,2834.0
19,19.0,001084,2017.0,2017-12-31,-3.023,-2.747,246.773,0.184,0.184,0.168,...,0.000,0.0430,0.000,5.135,-0.0201,NaN,10.6112,Worlds Inc,C,7370.0
20,19.0,001084,2018.0,2018-12-31,-2.893,1.754,56.815,3.846,3.846,3.846,...,0.000,0.2100,0.000,4.441,-0.0105,NaN,11.9312,Worlds Inc,C,7370.0
21,19.0,001094,2017.0,2017-06-30,44.426,11.376,30.094,1038.185,471.555,57.726,...,23.754,15.4500,7.895,633.118,13.4601,38.995,464.9523,Aceto Corp,D,5160.0
22,19.0,001094,2018.0,2018-06-30,-17.187,-316.121,30.787,767.024,502.627,103.904,...,32.812,3.3500,6.296,671.739,3.0950,NaN,103.1365,Aceto Corp,D,5160.0
23,17.0,001507,2017.0,2017-12-31,NaN,NaN,15.000,NaN,NaN,NaN,...,NaN,24.4800,NaN,NaN,NaN,NaN,NaN,VanEck Vectors Emerging Markets High Yield Bon...,None,6722
24,17.0,001507,2018.0,2018-12-31,NaN,NaN,11.400,NaN,NaN,NaN,...,NaN,22.3800,NaN,NaN,NaN,NaN,NaN,VanEck Vectors Emerging Markets High Yield Bon...,None,6722
25,19.0,001096,2017.0,2017-12-31,458.146,310.120,11.842,10111.986,260.016,134.450,...,30.868,179.4800,7.127,5812.179,260.3169,NaN,2125.4022,Morguard Corp,B+,6500
26,19.0,001096,2018.0,2018-12-31,451.277,319.851,11.294,11082.758,204.517,110.401,...,31.860,176.0100,6.842,6436.479,303.8220,NaN,1987.8569,Morguard Corp,B+,6500
27,19.0,001097,2017.0,2017-12-31,0.812,0.316,0.832,66.316,NaN,9.280,...,0.195,20.0700,0.000,36.349,36.0180,NaN,16.6982,ACMAT Corp,B,6351.0
28,19.0,001097,2018.0,2018-12-31,1.208,0.744,0.806,60.875,NaN,5.009,...,0.189,29.0000,0.000,32.570,35.1179,NaN,23.0170,ACMAT Corp,B,6351.0
29,12.0,001104,2017.0,2017-12-31,7.796,4.052,3.374,114.730,77.818,9.338,...,2.895,23.4000,1.447,64.792,14.8008,0.453,78.9516,Acme United Corp,A-,3420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21064,17.0,034511,2018.0,2018-12-31,NaN,NaN,0.600,NaN,NaN,NaN,...,NaN,47.4060,NaN,NaN,NaN,NaN,NaN,PGIM ETF Trust - PGIM QMA Strategic Alpha Inte...,None,6722
21065,17.0,034512,2018.0,2018-12-31,NaN,NaN,0.300,NaN,NaN,NaN,...,NaN,23.6800,NaN,NaN,NaN,NaN,NaN,DBX ETF Trust - Xtrackers MSCI ACWI ex USA ESG...,None,6722
21066,17.0,034513,2018.0,2018-12-31,NaN,NaN,0.300,NaN,NaN,NaN,...,NaN,23.7800,NaN,NaN,NaN,NaN,NaN,DBX ETF Trust - Xtrackers MSCI Emerging Market...,None,6722
21067,17.0,034514,2018.0,2018-12-31,NaN,NaN,0.100,NaN,NaN,NaN,...,NaN,22.3703,NaN,NaN,NaN,NaN,NaN,Cushing ETF Trust - Cushing Energy Supply Chai...,None,6722
21068,17.0,034515,2018.0,2018-12-31,NaN,NaN,0.100,NaN,NaN,NaN,...,NaN,22.2800,NaN,NaN,NaN,NaN,NaN,Cushing ETF Trust - Cushing Transportation & M...,None,6722
21069,17.0,034516,2018.0,2018-12-31,NaN,NaN,0.100,NaN,NaN,NaN,...,NaN,23.2574,NaN,NaN,NaN,NaN,NaN,Cushing ETF Trust - Cushing Utility & MLP ETF,None,6722
21070,17.0,034517,2018.0,2018-12-31,NaN,NaN,0.100,NaN,NaN,NaN,...,NaN,21.7685,NaN,NaN,NaN,NaN,NaN,Cushing ETF Trust - Cushing Energy & MLP ETF,None,6722
21071,21.0,034509,2018.0,2018-12-31,NaN,NaN,1.600,NaN,NaN,NaN,...,NaN,25.0168,NaN,NaN,NaN,NaN,NaN,Invesco Exchange-Traded Self-Indexed Fund Trus...,None,6722
21072,7.0,034534,2018.0,2018-12-31,NaN,NaN,0.390,NaN,NaN,NaN,...,NaN,29.7600,NaN,NaN,NaN,NaN,NaN,BMO Sia Focused North American Equity Fund,None,6722
21073,17.0,034535,2018.0,2018-12-31,NaN,NaN,0.100,NaN,NaN,NaN,...,NaN,14.8060,NaN,NaN,NaN,NaN,NaN,Global X Funds - Global X MSCI China Consumer ...,None,6722
21074,7.0,034536,2018.0,2018-12-31,NaN,NaN,0.090,NaN,NaN,NaN,...,NaN,28.8000,NaN,NaN,NaN,NaN,NaN,BMO SIA Focused Canadian Equity Fund,None,6722
21075,7.0,034561,2018.0,2018-12-31,NaN,NaN,0.313,NaN,NaN,NaN,...,NaN,16.1200,NaN,NaN,NaN,NaN,NaN,Hamilton Capital Australian Financials Yield,None,6722
21076,17.0,034563,2018.0,2018-12-31,NaN,NaN,0.100,NaN,NaN,NaN,...,NaN,25.0650,NaN,NaN,NaN,NaN,NaN,IndexIQ ETF Trust - IQ Short Duration Enhanced...,None,6722
21077,11.0,034601,2018.0,2018-12-31,NaN,NaN,5.750,0.481,0.069,0.037,...,NaN,NaN,0.000,0.459,0.0038,NaN,NaN,RMG Acquisition Corp,None,9995.0
21078,14.0,034577,2018.0,2018-12-31,NaN,NaN,1.438,0.367,0.053,0.053,...,NaN,NaN,0.000,0.403,-0.0250,NaN,NaN,Wealthbridge Acquisition Ltd,None,9995.0
21079,14.0,034615,2018.0,2018-12-31,NaN,NaN,8.625,0.306,0.012,0.012,...,NaN,NaN,0.000,0.284,0.0026,NaN,NaN,Acamar Partners Acquisition Corp,None,9995.0
21080,17.0,034583,2018.0,2018-12-31,NaN,NaN,0.100,NaN,NaN,NaN,...,NaN,15.2944,NaN,NaN,NaN,NaN,NaN,Entrepreneurshares Series Trust - ERShares Non...,None,6722
21081,14.0,034683,2018.0,2018-12-31,NaN,NaN,7.188,0.120,0.020,0.020,...,NaN,NaN,0.000,0.097,0.0032,NaN,NaN,DiamondPeak Holdings Corp,None,9995.0
21082,11.0,034864,2018.0,2018-12-31,NaN,NaN,8.625,0.326,0.119,0.119,...,NaN,NaN,NaN,0.345,NaN,NaN,NaN,Trine Acquisition Corp,None,9995
21083,14.0,034918,2018.0,2018-12-31,NaN,NaN,6.613,0.082,0.049,0.049,...,NaN,NaN,NaN,0.058,NaN,NaN,NaN,Iswill Acquisition Corp,None,9995
21084,14.0,034963,2018.0,2018-12-31,-0.002,-0.002,5.163,0.126,0.025,0.025,...,0.000,NaN,0.000,0.103,0.0045,NaN,NaN,Insurance Acquisition Corp,None,9995.0
21085,14.0,035079,2018.0,2018-12-31,NaN,NaN,0.001,0.073,0.073,0.000,...,NaN,NaN,0.000,0.075,-2.0000,NaN,NaN,AGBA Acquisition Ltd,None,9995.0
21086,14.0,035105,2018.0,2018-12-31,NaN,NaN,2.875,0.405,0.325,0.325,...,NaN,NaN,NaN,0.380,0.0087,NaN,NaN,Health Sciences Acquisitions Corp,None,9995.0
21087,14.0,035112,2018.0,2018-09-30,NaN,NaN,2.875,0.302,0.302,0.302,...,NaN,NaN,0.000,0.041,0.0908,NaN,NaN,Proficient Alpha Acquisition Corp,None,9995.0
21088,14.0,035132,2018.0,2018-12-31,30.224,13.670,50.000,192.091,42.715,41.201,...,8.441,NaN,0.000,148.841,0.8565,NaN,NaN,HeadHunter Group PLC,None,7370.0
21089,14.0,035247,2018.0,2018-12-31,NaN,NaN,1.438,0.095,0.000,0.000,...,NaN,NaN,NaN,0.091,NaN,NaN,NaN,Fellazo Inc,None,9995
21090,11.0,035245,2018.0,2018-12-31,-40.842,316.545,2120.553,9665.132,1946.299,880.936,...,365.959,NaN,NaN,6674.443,NaN,NaN,NaN,Endeavor Group Holdings Inc,None,7900
21091,21.0,039082,2018.0,2018-12-31,NaN,NaN,0.200,NaN,NaN,NaN,...,NaN,24.3965,NaN,NaN,NaN,NaN,NaN,iShares U.S. ETF Trust- iShares Evolved U.S. D...,None,6722
21092,19.0,125276,2018.0,2018-10-31,7.620,23.835,5.972,163.116,14.563,4.866,...,0.000,6.9000,0.000,120.033,4.6112,0.552,41.2068,Crossroads Systems Inc,D,3577
21093,19.0,328692,2018.0,2018-12-31,-3.653,-0.665,68.675,76.962,8.599,1.994,...,2.131,0.2773,0.000,26.414,0.7360,NaN,19.0436,Arrow Exploration Corp,None,1311.0

In [11]:
#Generate Lag Variable
funda1_lag1 = funda1[['gvkey','fyear','at','act','che','lct','dlc','txp']].copy()
funda1_lag1['fyear'] = funda1_lag1['fyear']+1
funda1_lag1=funda1_lag1.rename(columns = {'at':'at_lag1','act':'act_lag1','che':'che_lag1','lct':'lct_lag1','dlc':'dlc_lag1',
                                       'txp':'txp_lag1'})
funda1=pd.merge(funda1, funda1_lag1, how = 'left', on = ['gvkey','fyear'])

In [12]:
#winsorize the variable
varlist  = ['at','at_lag1','act_lag1','che_lag1','lct_lag1','dlc_lag1','txp_lag1','act','che','lct','dlc','txp','oiadp','ni','csho','dp','dvt','lt','bkvlps']
for var in varlist:    
    funda1[var] = funda1[var].replace(np.Inf, np.nan)    
    funda1[var]=np.where(funda1[var].isnull(), np.nan, winsorize(funda1[var], limits=(0.01,0.01)))

In [13]:
#Construct other Variables
funda1['AverageTotalAsset'] = (funda1['at']+funda1['at_lag1'])/2
funda1['Earnings'] = funda1['oiadp']/funda1['AverageTotalAsset']
funda1['chg_ca']=funda1['act']-funda1['act_lag1']
funda1['chg_cash'] = funda1['che']-funda1['che_lag1']
funda1['chg_cl'] =funda1['lct']-funda1['lct_lag1']
funda1['chg_std'] = funda1['dlc']-funda1['dlc_lag1']
funda1['chg_tp'] = funda1['txp']-funda1['txp_lag1']
funda1['Accural_Comp'] = ((funda1['chg_ca']-funda1['chg_cash']) -(funda1['chg_cl']-funda1['chg_std']-funda1['chg_tp'])-funda1['dp'])/funda1['AverageTotalAsset']
funda1['be'] = funda1['at']-funda1['lt']
funda1['CashFlow']=funda1['Earnings']-funda1['Accural_Comp']

In [14]:
funda1.describe()

,exchg,fyear,oiadp,ni,csho,at,act,che,lct,dlc,...,AverageTotalAsset,Earnings,chg_ca,chg_cash,chg_cl,chg_std,chg_tp,Accural_Comp,be,CashFlow
count,21090.000000,21094.000000,14989.000000,14990.000000,20851.000000,1.506800e+04,12379.000000,15067.000000,12397.000000,15061.000000,...,6.975000e+03,6969.000000,5692.000000,6974.000000,5698.000000,6971.000000,6250.000000,5496.000000,15054.000000,5496.000000
mean,14.225036,2017.484451,554.750381,317.109993,160.217897,1.498620e+04,1658.829639,1735.889714,1344.417758,937.577989,...,1.500513e+04,-0.200587,36.017704,-36.136371,69.114505,-1.386446,-0.391624,-0.036672,2840.330100,-0.229401
std,4.056467,0.503173,2891.509348,1667.434235,838.002718,1.090169e+05,7719.271129,18622.483756,6608.291231,10113.257866,...,1.052209e+05,1.979958,1325.322745,3507.795961,1217.709106,1958.851400,84.500665,1.801008,13025.741297,2.667076
min,0.000000,2017.000000,-174.684000,-418.258000,0.100000,5.900000e-02,0.021000,0.000000,0.086000,0.000000,...,2.215000e-01,-78.960875,-29578.000000,-76034.839000,-19431.000000,-45170.000000,-1664.000000,-52.659142,-62637.000000,-107.620767
25%,11.000000,2017.000000,-3.345000,-8.057750,7.702000,4.945175e+01,10.970000,4.971500,5.290000,0.000000,...,6.169800e+01,-0.102948,-8.639750,-13.577750,-2.615250,-1.142500,0.000000,-0.075479,16.947000,-0.177095
50%,14.000000,2017.000000,12.210000,2.849500,31.564000,5.277150e+02,114.428000,41.338000,52.341000,2.330000,...,6.039340e+02,0.023094,0.648000,-0.012500,0.894000,0.000000,0.000000,-0.033838,175.588000,0.057987
75%,17.000000,2018.000000,183.898000,94.845000,93.989500,3.263210e+03,635.650000,219.941000,400.339000,50.000000,...,3.583393e+03,0.074642,40.078250,15.226250,22.926250,2.318500,0.000000,0.000871,1082.456750,0.131256
max,22.000000,2019.000000,115076.000000,59531.000000,66623.515000,3.418318e+06,210129.924000,768210.644000,192819.656000,327848.000000,...,3.381924e+06,110.864415,42336.682000,179161.593000,34566.000000,65172.000000,3034.360000,105.255079,352500.000000,110.974058

In [15]:
fundaclean1 = funda1[['gvkey','spcsrc','fyear','Earnings','Accural_Comp','at','dvt','bkvlps','acqinvt','conml']].copy()

In [16]:
fundaclean1['dvt'] = fundaclean1['dvt'].replace(np.nan, 0)
fundaclean1['DD'] = np.where(fundaclean1['dvt']==0,0,1)
fundaclean1['Neg_E'] = np.where(fundaclean1['Earnings']<0,1,0)
#fundaclean1['acqinvt'] = fundaclean1['acqinvt'].replace(np.nan, 0)
#fundaclean1['inv_dummy'] = np.where(fundaclean1['dvt']==0,0,1)

In [17]:
fundaclean1['bkvlps'] = fundaclean1['bkvlps'].replace(np.nan, 0)

In [18]:
fundaclean1['acqinvt'] = fundaclean1['acqinvt'].replace(np.nan, 0)

In [19]:
fundaclean2 = fundaclean1[fundaclean1['fyear'] == 2018]

In [20]:
fundaclean2.describe()

,fyear,Earnings,Accural_Comp,at,dvt,bkvlps,acqinvt,DD,Neg_E
count,10147.0,6969.000000,5496.000000,7.059000e+03,10147.000000,1.014700e+04,10147.000000,10147.000000,10147.000000
mean,2018.0,-0.200587,-0.036672,1.489558e+04,108.832588,9.772483e+03,5.520863,0.301370,0.259978
std,0.0,1.979958,1.801008,1.044352e+05,669.558123,3.372892e+05,116.503747,0.458876,0.438644
min,2018.0,-78.960875,-52.659142,5.900000e-02,0.000000,-1.019140e+01,0.000000,0.000000,0.000000
25%,2018.0,-0.102948,-0.075479,6.169200e+01,0.000000,0.000000e+00,0.000000,0.000000,0.000000
50%,2018.0,0.023094,-0.033838,6.221040e+02,0.000000,6.467000e-01,0.000000,0.000000,0.000000
75%,2018.0,0.074642,0.000871,3.639062e+03,3.908000,1.051410e+01,0.000000,1.000000,1.000000
max,2018.0,110.864415,105.255079,3.418318e+06,18849.000000,2.101400e+07,6239.147000,1.000000,1.000000

In [21]:
fundaclean2 = fundaclean2.dropna()

In [22]:
fundaclean2.describe()

,fyear,Earnings,Accural_Comp,at,dvt,bkvlps,acqinvt,DD,Neg_E
count,2518.0,2518.000000,2518.000000,2518.000000,2518.000000,2.518000e+03,2518.000000,2518.000000,2518.000000
mean,2018.0,-0.107726,-0.058106,6734.497155,166.685224,5.552261e+03,8.255227,0.464257,0.318904
std,0.0,1.015236,1.094680,24148.431480,831.248213,2.137331e+05,96.873893,0.498820,0.466144
min,2018.0,-34.306998,-52.659142,0.059000,0.000000,-1.019140e+01,0.000000,0.000000,0.000000
25%,2018.0,-0.036042,-0.069131,79.711000,0.000000,8.496750e-01,0.000000,0.000000,0.000000
50%,2018.0,0.054329,-0.033974,709.670000,0.000000,6.631000e+00,0.000000,0.000000,0.000000
75%,2018.0,0.106036,-0.001902,3569.200000,29.749000,1.779478e+01,0.000000,1.000000,1.000000
max,2018.0,2.040343,8.076749,531864.000000,14117.000000,9.957000e+06,3303.000000,1.000000,1.000000

In [23]:
A = ['A+','A','A-']
B = ['B+','B','B-']
fundaclean2['stock_rate'] = np.where(fundaclean2['spcsrc'].isin(A), 'A', 
                             (np.where(fundaclean2['spcsrc'].isin(B),'B','others')))

In [24]:
fundaclean2 = pd.get_dummies(fundaclean2,columns=['stock_rate'])

In [25]:
fundaclean2=fundaclean2.rename(columns={'dvt':'D','bkvlps':'B','Earnings':'E','Accural_Comp':'AC','at':'A'})

In [26]:
fundaclean2.describe()

,fyear,E,AC,A,D,B,acqinvt,DD,Neg_E,stock_rate_A,stock_rate_B,stock_rate_others
count,2518.0,2518.000000,2518.000000,2518.000000,2518.000000,2.518000e+03,2518.000000,2518.000000,2518.000000,2518.000000,2518.000000,2518.000000
mean,2018.0,-0.107726,-0.058106,6734.497155,166.685224,5.552261e+03,8.255227,0.464257,0.318904,0.098888,0.511914,0.389198
std,0.0,1.015236,1.094680,24148.431480,831.248213,2.137331e+05,96.873893,0.498820,0.466144,0.298571,0.499957,0.487665
min,2018.0,-34.306998,-52.659142,0.059000,0.000000,-1.019140e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018.0,-0.036042,-0.069131,79.711000,0.000000,8.496750e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2018.0,0.054329,-0.033974,709.670000,0.000000,6.631000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,2018.0,0.106036,-0.001902,3569.200000,29.749000,1.779478e+01,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,2018.0,2.040343,8.076749,531864.000000,14117.000000,9.957000e+06,3303.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
fundaclean2['predict_2019'] = 0.0114+0.7280*fundaclean2['E']-0.0047*fundaclean2['Neg_E']-0.0106*fundaclean2['Neg_E']*fundaclean2['E']-0.0001*fundaclean2['B']+0.0369*fundaclean2['AC']+0.0240*fundaclean2['stock_rate_A']+0.0091*fundaclean2['stock_rate_B']-0.0217*fundaclean2['stock_rate_others']+0*fundaclean2['acqinvt']

In [28]:
fundaclean2.to_csv(r"C:/Users/admin/Desktop/Q4_prediction.csv")